/* projectAIM stylesheet */

/* DEFAULT TAGS START */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
/* ===== DEFAULT TAGS END ===== */

/* ===== HEADER START ====== */
.header {
  color: #FFF;
  background-color: #1F3142;
}

.header-inner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

.header-logo {
  font-size: 25px;
  color: #FFF;
}

.header-nav {
  flex: 1;
}

.header-logo a,
.header-nav a,
.header-login a {
  padding: 10px;
}

.header-nav a:hover,
.header-login a:hover {
  color: #FFF;
}
/* ===== HEADER END ===== */
